AZURE_OPENAI_API_KEY=<YOUR_API_KEY>
AZURE_OPENAI_BASE_URL=https://models.inference.ai.azure.com
CHAINLIT_AUTH_SECRET=<YOUR_CHAILIT_SECRET>
DATABASE_URL="postgresql://root:root@localhost:5555/postgres"

# S3 configuration.
BUCKET_NAME=my-bucket
APP_AWS_ACCESS_KEY=random-key
APP_AWS_SECRET_KEY=random-key
APP_AWS_REGION=eu-central-1
DEV_AWS_ENDPOINT=http://localhost:4566